* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* inicio de header */
header {
   background-color: #f6a6c2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* padding: 10px; */
}

/* header .container{
    display: inline-block;
    height: 10vh;
    vertical-align: super;
} */

header .navbar {
   display: flex;
   width: 30%;
   justify-content: space-around;
}

header .navbar .navbar__a {
   /* display:inline-block; */
   text-decoration: none;
   border: 1px solid rgb(16, 16, 16);
   border-radius: 10px;
   padding: 3.4px;
   color: rgb(28 27 27);
   font-size: 18px;
   margin: 5px;
   background-color: #f68bb0;

}

header .navbar__a[href="#"] {
   color: #273746;
   background-color: #D6EAF8;
}

header .navbar a:hover {
   color: #808B96;
   background-color: #F5EEF8;
}



header .logo {
   /* display: inline-block; */
   display: flex;
   justify-content: flex-end;


}

header .logo img {
   width: 20%;
   height: 20%;
}

Inicio de Main main {
   background-color: #de8abe;
   height: 5vh;


}

main .titulo {
   text-align: center;
   background-color: #de8abe;
   height: 11vh;
   padding-top: 10px;

}

main .titulo h1 {
   font-size: 40px;
}

main .titulo h2 {
   font-size: 30px;
}

main .banner {
   width: 100%;
   height: 32vh;
   object-fit: cover;
}

main .informacion {
   text-align: center;
   padding-top: 5vh;
}


main .informacion p {
   /* display: inline-block; */
   font-size: 20px;
}

main .informacion .inf_p,
main .informacion .inf_img {
   width: 20%;
   margin: 0 10px;
   /* vertical-align: super; */
    /* display: inline-block; */
  
}

main .informacion {

   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #de8abe;
   /* width: 20vw;
    height: 27vh;
   /*  vertical-align: middle; 
   display: inline-block; */


}

main .informacion .inf_img img {
   width: 60%;
   height: 60%;
   border-radius: 10px;
   margin-bottom: 10px;

}

inicio footer footer {

   background-color: #f6a6c2;
   height: 10vh;
   text-align: center;
   padding: 0.8vh;

}


.footer {
   text-align: center;
   font-size: 18px;
   padding: 0.8vh;
   background-color: #f6a6c2;

}

/* inicio de Css de contact */

main .banner {
   background-color: #de8abe;
}

main .bannerinffo {
   margin: 30px;
   width: 100vh;
   height: 27vh;
   position: relative;
   left: 25%;
   background-color: #de8abe;


}

main p {
   font-size: 150%;
   text-align: center;
   height: 10vh;
   background-color: #de8abe;
}

main .contac {
   text-align: center;
   height: 33vh;
   background-color: #de8abe;


}

main .cel {
   margin: 20px 110px;
   text-decoration: none;
   color: black;
   font-size: 25px;
}

main .email {
   display: inline-block;
   margin: 20px 100px;
   text-decoration: none;
   color: black;
   text-decoration: none;
   font-size: 25px;

}

main .email a:hover {
   color: white;

}

/* Inicio css de information */

.table1 {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 50px;
   gap: 50px;
   background-color: #b36494;
   align-items: center;

}

table,
tr,
td,
th {
   border: 1px solid black;
}

table {
   text-align: center;
   border-collapse: collapse;
   margin-top: 50px;
}

th {
   background: #725466;
   color: white;
   font-weight: bold;
   font-size: 20px;
   text-align: left;
}

td,
th {
   padding: 78px;
}

td {
   background: #c8afbe;
}


/*Inicio de css benefits*/

main .benefits {
   text-align: center;
   padding-top: 5vh;
}


main .benefits_p {
   /* display: inline-block; */
   font-size: 22px;
}

main .benefits .benefits_p,
main .benefits .benefits_img {
   /* display: inline-block; */
   width: 20%;
   /* vertical-align: super; */
   margin: 0 10px;
   height: 36vh;
}

main .benefits {
   /* display: inline-block; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* width: 20vw;
   height: 27vh;
   vertical-align: middle; */
   background-color: #de8abe;
   height: 36vh;

}

main .benefits .benefits_img img {
   width: 62%;
   height: 62%;
   border-radius: 10px;
   /* margin-bottom: 10px; */

}

.benefits_footer {
   height: 7vh;
   text-align: center;
   background-color: #f6a6c2;
   padding-top: 15px;

}

.informacion1{
width: 100%;
min-height: 75vh;
display: flex;
justify-content: center;

}

.inf_map{
width: 40%;
min-height: 40vh;
}
.inf_table{
width: 40%;
min-height: 40vh;
}