* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* inicio de header */

.container{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: #f68bb0;
}

.header {
   background-color: #f6a6c2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 10vh;
   padding: 0 10px;
}


.header .navbar .navbar__a {
   /* display:inline-block; */
   text-decoration: none;
   border: 1px solid rgb(16, 16, 16);
   border-radius: 10px;
   padding: 3.4px;
   color: rgb(28 27 27);
   font-size: 18px;
   margin: 5px;
   background-color: #f68bb0;

}

.header .navbar__a[href="#"] {
   color: #273746;
   background-color: #D6EAF8;
}

.header .navbar a:hover {
   color: #808B96;
   background-color: #F5EEF8;
}



.header .logo {
   object-fit: cover;
   width: 10%;
   height: 10%;


}


.main_index {
 
   flex-grow: 1;
   
}

.main_index_h1, .main_index_h2{
   text-align: center;
   width: 100%;
   font-weight: 700;
}



.main_index_banner{
   width: 100%;
   height: 350px;
   object-fit: cover;
   
}

.main_index_inf{
   width: 90%;

   
}

.main_index_inf1{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px;
}

.main_index_inf_p{
   width: 30%;
   /* margin: 30px; */
   font-size: 23px;
}



.main_index_inf_img{
 width: 30%;
 height: 250px;
 object-fit: cover;
 border-radius: 30px;
 }







inicio footer 
.footer {

   
   height: 10vh;
   text-align: center;
   padding: 0.8vh;

}


.footer_p {
   text-align: center;
   font-size: 18px;
   padding: 20px;
   background-color: #f6a6c2;

}


/*Inicio de Css de contact*/

.main_index_banner1{
  display: flex;
  justify-content: center;
}
.main_index_banner2{
   width: 60%;
   height: 350px;
   object-fit: cover;
}

.main_index_p3{
   text-align: center;
   font-size: 25px;
}

.main_index_inf1{
   width: 90%;

   
}

.main_index_inf1{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px;
}

.main_index_inf_p1{
   width: 30%;
   /* margin: 30px; */
   font-size: 23px;
}



.main_index_inf_p2{
 width: 30%;
 font-size: 23px;
}
 
 
 






/* Inicio css de information */

.table1 {
   width: 100%;
   /* height: 100vh; */
   display: flex;
   flex-direction: column;
   padding: 50px;
   gap: 50px;
   /* background-color: #b36494; */
   align-items: center;

}

table,
tr,
td,
th {
   border: 1px solid black;
}

.table2 {
   text-align: center;
   border-collapse: collapse;
   /* margin-top: 50px; */
}

th {
   background: #725466;
   color: white;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

td,
th {
   padding: 58px;
}

td {
   background: #c8afbe;
}


/*Inicio de Css Benefits*/

.main_index_inf4{
width: 90%;
display: flex;
/* flex-direction: column; */
   
}

.main_index_inf5{
   /* display: flex; */
   width: 100%;
   /* flex-direction: column; */
   padding: 20px;
}

.main_index_inf_p5{
   width: 30%;
   font-size: 23px;
   display: flex;
}



.main_index_inf_img5{
 width: 30%;
 height: 250px;
 object-fit: cover;
 border-radius: 30px;
 }


